body{
     font-family: "Montserrat", sans-serif;
     margin:0;
     background-color: black;
     color:white;
     overflow: hidden;
}

.main{
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;    /* 1rem=16px */
    margin-right: 0.5rem;
}


.main-content{
    background-color: #121212;
    flex:1;  /* sidebar or music-player ki jagha ke alava sari jagha lega */
    border-radius: 1rem;    /* 1rem=16px */
    overflow: auto;  /* bas main-content me scroll kar payenge */
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
 /*------------------------------------------------------ sidebar-nav ------------------------------------------------------------*/
a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;   /* reverse flex */
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;  /* 0.5rem=8px 0.75rem=12px (rem makes website responsive)*/
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    /* padding: 0.5rem 0.75rem; */  
}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
/*-------------------------------------------------------- sidebar-library ---------------------------------------------------------*/

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}   

.option{
    display: flex;
    justify-content: space-between; /* give space between library and icons */
     align-items: center;   /*verticly center the elements */
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

/* ------------------------------------------------- sidebar library boxes--------------------------------------------------------- */

.box{
    background-color: #232323;
    height: 8.5rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    color: black;
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 650;
    margin-top: -0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    background-color: black;
    color: white;
}
/* ----------------------------------------------------main sticky navbar--------------------------------------------------------- */

.sticky-nav{
    position: sticky;
    top:0; 
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 8;
}

.sticky-nav-icons{
    margin-left: 0.75rem;
}

.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1rem;
}

@media(max-width:1000px){             /*  jese hi 1000px hoga screen vese hi hide class ke element hide ho jayenge */
    .hide{
        display: none;
    }
}

/* -----------------------------------------------------main content cards--------------------------------------------------------- */

.card{
    background-color: #232323;
    width: 185px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem;
}

.cards-container{
    display: flex;        /* cards ek line me aa gaye flex ke through */
    flex-wrap: wrap;       /*  without changing the feature(margin,etc) ye sasbko equally space dega */
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
}

.card-title{
    color: white;
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    color:white;
    opacity: 0.5;
}

h2{
    font-weight: 600;
}

.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 100%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.2;
}

/* ------------------------------------------------------music-player------------------------------------------------------------- */

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.controls{
    width: 25%;
}

/* ----------------------------------------------------music-player part II------------------------------------------------------- */

.player{
    width: 50%;
}

.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 75%;
    appearance: none;    /* bydefault radio ko jo b styling h hat jayegi */
    background-color: transparent;
    cursor: pointer;
    overflow: visible;
}

/* progress bar ko style dene ke liye go to-> quirksmode.org->archive->styling and scripting */

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
    
}

/* ---------------------------------------------------music-player album--------------------------------------------------------- */

.album{
    width: 25% ;
    display: flex;
    align-items: center;
    height: 56px;
}
.heavy-album{
    width: 51px;
    height: 51px;
    border-radius: 0.2rem;
    margin-left: 0.4rem;
}
.para{
    padding-left: 0.8rem;
    height: 55px;
}
.heavy{
    font-size: 0.8rem;
    margin-bottom: 0rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.marias{
    font-size: 0.7rem;
    opacity: 0.75;
}
.ic{
    padding-left: 1.7rem;
    font-size: 14px;
}

/* -----------------------------------------------controls------------------------------------------------------- */

.control-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    opacity: 0.7;
}

.control-icon:hover{
    opacity: 1;
}

.volume{
    padding-left: 0.75rem;
    padding-bottom: 0.25rem;
    width: 35%;
    appearance: none;    /* bydefault radio ko jo b styling h hat jayegi */
    background-color: transparent;
    cursor: pointer;
}

.volume::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.1rem;
}
.volume::-webkit-slider-thumb{
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    margin-top: -4px;
}